<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit" />
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Ionicons -->
    <link href="http://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/skins/skin-blue.min.css")">
    <link href="http://cdn.bootcss.com/jquery-confirm/3.0.3/jquery-confirm.min.css" rel="stylesheet">
    <link href="/Content/jquery.toast.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- WARNING: Respond.js doesn't work if you view the page via  -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
      <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->
    @RenderSection("head", false)
</head>

<body style="background-color: #F6F6F6; height: 100%;">
    <div class="container" style="margin: auto; background-color: white; height: 100%; width:85%;">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">功能模块一<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/system/StudentList">01. 增删改查</a></li>
                                    <li><a href="/system/FileList">02. 附件上传</a></li>
                                    <li><a href="/system/DataValidation">03. 数据验证</a></li>
                                    <li><a href="/system/OperateExcel">04. Excel操作</a></li>
                                    <li><a href="/system/Config">05. 配置文件</a></li>
                                    <li><a href="/system/CreateNews">06. 文本编辑</a></li>
                                    <li><a href="/system/Select2">07. 下拉查询</a></li>
                                    <li><a href="/system/FontIcon">08. 字体图标</a></li>
                                    <li><a href="/system/DisplayPCC">09. 省市地区</a></li>
                                    <li><a href="/system/AlertWindow">10. 弹出窗口</a></li>
                                    <li><a href="/system/FormatConvert">11. 格式转换</a></li>
                                    <li><a href="/system/MemoryPager">12. 内存分页</a></li>
                                </ul>
                            </li>*@
                        </ul>
                        <ul class="nav navbar-nav">
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">功能模块二<b><span class="caret"></span></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/system/OperatePage">01. 页面操作</a></li>
                                    <li><a href="/system/SaveImgage">02. 图片保存</a></li>
                                    <li><a href="/system/CustomizeColumnList">03. 自定义列</a></li>
                                    <li><a href="/system/SelectColor">04. 颜色控件</a></li>
                                </ul>
                            </li>*@
                        </ul>
                        <ul class="nav navbar-nav">
                            <li><a href="/system/Test">测试</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="sys_message">
                    @if (ViewContext.TempData[AlertEntity.ALERT_ENTITY] != null)
                    {
                        var alertEntity = ViewContext.TempData[AlertEntity.ALERT_ENTITY] as AlertEntity;
                        @Html.Partial("Alert", new AlertEntity(alertEntity.Message, alertEntity.Type, alertEntity.CanClose))
                    }
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <script src="/Scripts/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- AdminLTE App -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
    <script src="http://cdn.bootcss.com/jquery-confirm/3.0.3/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="/Scripts/jconfirm.defaults.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.toast.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.zh-CN.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.blockUI.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/i18n/zh-CN.js")"></script>
    <script src="/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/util/util.js"></script>
    <script type="text/javascript" src="/Scripts/util/app.js"></script>
    @RenderSection("foot", required: false)
</body>
</html>
